<div class="mw-100 container" id="generalContainer">
  <div class="row">
    <div class="col-12">
      <h3>User List</h3>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Avatar</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td><img class="user-image" src="{{user.avatar}}"></td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" (click)="redirectToUserDetails(user.id)">View Details</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

